.clear {
    background-image: url('https://images.pexels.com/photos/912364/pexels-photo-912364.jpeg?cs=srgb&dl=blue-sky-bright-clouds-912364.jpg&fm=jpg');
}

.clouds {
    background-image: url('https://cdn.pixabay.com/photo/2015/11/07/11/42/clouds-1031416__340.jpg');
}

.rain {
    background-image: url('https://cdn.pixabay.com/photo/2018/05/31/13/13/rain-3443977__340.jpg');
}

.snow{
    background-image: url('https://cdn.pixabay.com/photo/2014/02/07/10/19/winter-260817__340.jpg');
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3em;
    position: relative;
}

i.wi {
    font-size: 5em;
    line-height: 3em;
}

h2 {
    font-size: 2em;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #fff;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    transition: opacity .3s, top .5s;
}

h1:hover .tooltip {
    top: -50px;
    opacity: 1;

}